{% extends "base.html" %}
{% block content %}
Making lots of gerrit patches
<ul class="list-group">
    {% if username %}
    Hello {{username}}.
    <li class="list-group-item">
        <a href="/php">PHP tools</a>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/php/simple-replace">Simple replace</a>
            </li>
            <li class="list-group-item">
                <a href="/php/const-replace">Replace of class constants</a>
            </li>
            <li class="list-group-item">
                <a href="/php/class-replace">Rename a class</a>
            </li>
        </ul>
        <a href="/less">LESS tools</a>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/less/simple-replace">Simple replace</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item"><a href="/auth/logout">Logout</a></li>
    {% else %}
    <li class="list-group-item"><a href="/auth/login">Login</a></li>
    {% endif %}
</ul>
{% endblock %}